
.jra-moon:before { content: '\e800'; } /* '' */
.jra-sun:before { content: '\e801'; } /* '' */
.jra-display:before { content: '\e802'; } /* '' */
.jra-chevron-down:before { content: '\e803'; } /* '' */
